.body {
    font-family: 'Lexend', sans-serif;
    color: rgba(0, 0, 0, 0.70);
    line-height: 1.2;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.top_bar{
    display: inline-flex;
}

.logo {
    margin-top: 50px;
    margin-left: 170px;
    transform: scale(0.75);
}

.links {
    display: flex;
    margin-top: 59px;
    margin-left: 850px; /* Отступ слева */
}

.links a {
    margin-right: 20px; /* Отступ между ссылками */
    text-decoration: none; /* Убираем подчеркивание */
    font-family: 'Lexend', sans-serif;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.70); /* черный на 70% яркости */
}


.center {
    display: flex; /* Используем flexbox */
    justify-content: center; /* Распределение элементов равномерно с равными отступами между ними */
    align-items: center; /* Выравнивание элементов по вертикали по центру */
    padding: 10px 0px
}

.doc_main2 {
    width: 90%;
    margin-top: 40px;
    margin-left: 20px;
}

.left_center {
    font-family: 'Lexend', sans-serif;
    display: flex;
    flex-direction: column;
}

.r_center {
}

.welcome_text {
    font-size: 36px;
    color: rgba(0, 0, 0, 0.75); /* черный на 50% яркости */
    margin-top: 350px;
}

.doreg_text {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.50); /* черный на 50% яркости */
}

.get_calendar_button {
    font-family: 'Lexend', sans-serif;
    font-size: 24px;
    color: white;
    background-color: rgba(74, 117, 185, 1);
    padding: 25px 20px; /* Внутренние отступы */
    border-radius: 10px; /* Радиус скругления углов */
    border: none;
    cursor: pointer;
    margin-top: 10%;
}

.footer {
    margin-top: 5%;
    display: flex;
    justify-content: flex-start; /* Располагаем элементы слева */
    align-items: center; /* Выравниваем элементы по вертикали */
    padding: 10px; /* Добавляем немного отступов */
    background-color: rgba(245, 249, 254, 1);

    font-family: 'Lexend', sans-serif;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.75); /* черный на 50% яркости */

}

.newslatter_text {
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 20px;
}

.newslatter_form {
    margin-top: 20px;
    margin-left: auto;
    position: relative;
    display: inline-block;
}

.def_input::placeholder {
    font-family: 'Lexend', sans-serif;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.50);
}

.def_input {
    width: 400px;
    height: 40px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    border: none;
    border-radius: 10px;
    vertical-align: middle;
}

.send_button {
    font-family: 'Lexend', sans-serif;
    font-size: 24px;
    color: white;
    background-color: rgba(74, 117, 185, 1);
    padding: 20px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 200px;
}

