.body {
    font-family: 'Lexend', sans-serif;
    color: rgba(0, 0, 0, 0.70); /* черный на 70% яркости */
    line-height: 1.2; /* Регулировка интервала между строками */
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: flex-start; /* Располагаем элементы слева */
    align-items: center; /* Выравниваем элементы по вертикали */
    padding: 10px; /* Добавляем немного отступов */
}

.top_bar{
    display: inline-flex;
}
.logo {
    margin-top: 10%;
    margin-left: 15%; /* Располагаем логотип на 5% от левого края */
}

.links {
    display: flex; /* Располагаем ссылки в строку */
    margin-top: 10%;
    margin-left: 188%; /* Отступ слева */
}

.links a {
    margin-right: 20px; /* Отступ между ссылками */
    text-decoration: none; /* Убираем подчеркивание */
    font-family: 'Lexend', sans-serif;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.70); /* черный на 70% яркости */
}


.center {
    display: flex; /* Используем flexbox */
    justify-content: space-between; /* Распределение элементов равномерно с равными отступами между ними */
    align-items: center; /* Выравнивание элементов по вертикали по центру */
    padding: 0 5%; /* Добавляем отступы справа и слева для центрирования элементов */
}

.doc_main2 {
    width: 95%;
    margin-top: 10%;
    margin-left: 15%;
}

.left_center {
    font-family: 'Lexend', sans-serif;
    display: flex;
    flex-direction: column;
}

.welcome_text {
    font-size: 54px;
    color: rgba(0, 0, 0, 0.75); /* черный на 50% яркости */
    margin-top: 30%;
}

.doreg_text {
    font-size: 32px;
    color: rgba(0, 0, 0, 0.50); /* черный на 50% яркости */
}

.get_calendar_button {
    font-family: 'Lexend', sans-serif;
    font-size: 32px;
    color: white;
    background-color: rgba(74, 117, 185, 1);
    padding: 25px 20px; /* Внутренние отступы */
    border-radius: 10px; /* Радиус скругления углов */
    border: none;
    cursor: pointer;
    margin-top: 10%;
}

.footer {
    margin-top: 5%;
    display: flex;
    justify-content: flex-start; /* Располагаем элементы слева */
    align-items: center; /* Выравниваем элементы по вертикали */
    padding: 10px; /* Добавляем немного отступов */
    background-color: rgba(245, 249, 254, 1);

    font-family: 'Lexend', sans-serif;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.75); /* черный на 50% яркости */

}

.newslatter_text {
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 20px; /* добавляем отступ снизу */
}

.newslatter_form {
    margin-top: 20px;
    margin-left: auto;
    position: relative; /* Для использования абсолютного позиционирования кнопки */
    display: inline-block; /* Чтобы контейнер формы занимал только необходимое пространство */
}

.def_input::placeholder {
    font-family: 'Lexend', sans-serif;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.50); /* черный на 50% яркости */
}

.def_input {
    width: 600px;
    height: 80px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    border: none;
    vertical-align: middle;
}

.send_button {
    font-family: 'Lexend', sans-serif;
    font-size: 32px;
    color: white;
    background-color: rgba(74, 117, 185, 1);
    padding: 25px 20px; 
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 200px;
}



