{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartVaccine.App</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="top_bar">
                <div class="logo">
                    <img src="{% static 'img/logo_mini_orig.jpeg' %}" alt="logo">
                </div>
                <div class="links">
                    <a href="{% url 'registration' %}" class="register_link">Регистрация</a>
                    <a href="{% url 'login_user' %}" class="login_link">Вход</a>
                </div>
            </div>
        </div>

        <div class="center">

            <div class="left_center">
                <div class="welcome_text">
                    Заботиться о здоровье ребенка<br>
                    стало проще. Мы напомним вам<br>
                    о следующей вакцинации<br>
                </div>
                <div class="doreg_text">
                    <br>
                    Зарегистрируйтесь и получите<br>
                    персональный календарь вакцинации
                </div>
                  <form action="{% url 'registration' %}" target="_blank">
                    <button class="get_calendar_button">Получить календарь вакцинации</button>
                   </form>
            </div>

            <div class="r_center">
                <img src="{% static 'img/doc_main2.jpg' %}" alt="doc_main2" class="doc_main2">
            </div>

        </div>
    </div>
</body>
</html>