{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница логина</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="left-side">
            <div class="logo">
                    <img src="{% static 'img/logo_mini_orig.jpeg' %}" alt="logo">
            </div>
            <div class="login-form">
                <form action="#" method="post">
                    <label for="username">Имя пользователя</label>
                    <input type="text" id="username" name="username" required>
                    
                    <label for="password">Пароль</label>
                    <input type="password" id="password" name="password" required>
                    
                    <button type="submit">Войти</button>
                </form>
            </div>
        </div>
        <div class="right-side">
            <div class="image-container">
                <img src="{% static 'img/Framednk.jpg' %}" alt="Изображение">
            </div>
        </div>
    </div>
</body>
</html>
